/*----------------------------------------------------------------------*/
/*----------------------------->>> FILE <<<-----------------------------*/
/*----------------------------------------------------------------------*/
/**
  * SECTION
  * ------------------------------------------------------------------- *
  *
  * >>> BASE
  *
  * >>> TYPOGRAPHY
  * >>> FORM
  * >>> BUTTON
  *
  * ------------------------------------------------------------------- *
  *
  * >>> LAYOUT
  *
  * ------------------------------------------------------------------- *
  * /////////////////////////////////////////////////////////////////// *
  * ------------------------------------------------------------------- *
  *
  * >>> MODULE
  *
  *     >>> index
  *         core element schema
  *
  *     >>> media
  *     >>> grid
  *
  *     >>> navigation
  *
  * ------------------------------------------------------------------- *
  *
  * >>> UTILITIES
  *
  * [IE]
  */
/*----------------------------------------------*\
    RGBA fallbacks:
    Use like this: @include transparent(bg, #00ff00, .8);
\*----------------------------------------------*/
/* Completely remove from the flow but leave available to screen readers. */
.vishidden, .js-load {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px); }

.hidden, .notes-wrapper .viewport:last-of-type .btn-load-notes {
  display: none !important;
  opacity: 0 !important; }

/* Foilhat as non-javascript user content */
.no-js .foilhat {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  background-image: url("../image/layout/abbacd.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%; }

.no-js .js-load {
  padding: 0;
  margin: 0;
  height: 0;
  width: 0; }

/* Wicked single element css spinner (@lukehaas) for users with long load time.  */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%; }

.loader:before,
.loader:after {
  position: absolute;
  content: ''; }

.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: white;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  -ms-transform-origin: 5.2em 5.1em;
      transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s; }

.loader {
  font-size: 11px;
  text-indent: -99999em;
  margin: 50% auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em black; }

.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: white;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  -ms-transform-origin: 0px 5.1em;
      transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease; }

@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*----------------------------------------------------------------------*/
/*----------------------------->>> SASS <<<-----------------------------*/
/*----------------------------------------------------------------------*/
/**
  *
  */
section, div, article,
h1, h2, h3, h4, h5,
p,
ul, ol, li,
form, label, input {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px; }

/*----------------------------------------------------------------------*/
/*----------------------------->>> BASE <<<-----------------------------*/
/*----------------------------------------------------------------------*/
/**
  *
  */
* {
  box-sizing: border-box; }

body {
  margin: 0; }

/*---------------------------------------------------------------------*/
/*---------------------------->>> RESET <<<----------------------------*/
/*---------------------------------------------------------------------*/
/**
  *
  */
a:link {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a:active {
  text-decoration: none; }

img {
  max-width: 100%;
  max-height: 100%; }

/*---------------------------------------------------------------------*/
/*---------------------------->>> CLEARFIX <<<-------------------------*/
/*---------------------------------------------------------------------*/
/**
  *
  */
.cf:after, .single-note .content-output:after, .suggested-notes:after, .clearfix:after {
  content: "";
  display: table;
  clear: both; }

html {
  font-family: "merriweather";
  font-size: 100%;
  font-weight: 300; }

p, .text, .content-output li {
  font-size: 1em;
  letter-spacing: 0.73px;
  line-height: 1.8; }

a {
  font-size: 1em;
  letter-spacing: 0.73px; }
  @media screen and (min-width: 48em) {
    a {
      font-size: 1.125em; } }

h1,
h2,
h3,
h4,
h5 {
  font-family: "montserrat";
  font-weight: 700; }

h1, .alpha, .single-case h2,
.single-career h2,
.single-event h2,
.video-description h2,
.wide-block h2, .cases-end a {
  font-size: 2em; }
  @media screen and (min-width: 30.75em) {
    h1, .alpha, .single-case h2,
    .single-career h2,
    .single-event h2,
    .video-description h2,
    .wide-block h2, .cases-end a {
      font-size: 2.75em; } }
  @media screen and (min-width: 48em) {
    h1, .alpha, .single-case h2,
    .single-career h2,
    .single-event h2,
    .video-description h2,
    .wide-block h2, .cases-end a {
      font-size: 3.75em; } }
  @media screen and (min-width: 70.75em) {
    h1, .alpha, .single-case h2,
    .single-career h2,
    .single-event h2,
    .video-description h2,
    .wide-block h2, .cases-end a {
      font-size: 5.125vw; } }
  @media screen and (min-width: 70.75em) {
    .no-cssvwunit h1, .no-cssvwunit .alpha, .no-cssvwunit .single-case h2, .single-case .no-cssvwunit h2,
    .no-cssvwunit .single-career h2,
    .single-career .no-cssvwunit h2,
    .no-cssvwunit .single-event h2,
    .single-event .no-cssvwunit h2,
    .no-cssvwunit .video-description h2,
    .video-description .no-cssvwunit h2,
    .no-cssvwunit .wide-block h2,
    .wide-block .no-cssvwunit h2, .no-cssvwunit .cases-end a, .cases-end .no-cssvwunit a {
      font-size: 4.625em; } }
  @media screen and (min-width: 1245px) {
    .no-cssvwunit h1, .no-cssvwunit .alpha, .no-cssvwunit .single-case h2, .single-case .no-cssvwunit h2,
    .no-cssvwunit .single-career h2,
    .single-career .no-cssvwunit h2,
    .no-cssvwunit .single-event h2,
    .single-event .no-cssvwunit h2,
    .no-cssvwunit .video-description h2,
    .video-description .no-cssvwunit h2,
    .no-cssvwunit .wide-block h2,
    .wide-block .no-cssvwunit h2, .no-cssvwunit .cases-end a, .cases-end .no-cssvwunit a {
      font-size: 5.125em; } }
  h1.force-rows, .alpha.force-rows, .single-case h2.force-rows,
  .single-career h2.force-rows,
  .single-event h2.force-rows,
  .video-description h2.force-rows,
  .wide-block h2.force-rows, .cases-end a.force-rows {
    max-width: 400px; }
    @media screen and (min-width: 70.75em) {
      h1.force-rows, .alpha.force-rows, .single-case h2.force-rows,
      .single-career h2.force-rows,
      .single-event h2.force-rows,
      .video-description h2.force-rows,
      .wide-block h2.force-rows, .cases-end a.force-rows {
        max-width: 82%; } }
    @media screen and (min-width: 1960px) {
      h1.force-rows, .alpha.force-rows, .single-case h2.force-rows,
      .single-career h2.force-rows,
      .single-event h2.force-rows,
      .video-description h2.force-rows,
      .wide-block h2.force-rows, .cases-end a.force-rows {
        max-width: 666px; } }
    .no-cssvwunit h1.force-rows, .no-cssvwunit .alpha.force-rows, .no-cssvwunit .single-case h2.force-rows, .single-case .no-cssvwunit h2.force-rows,
    .no-cssvwunit .single-career h2.force-rows,
    .single-career .no-cssvwunit h2.force-rows,
    .no-cssvwunit .single-event h2.force-rows,
    .single-event .no-cssvwunit h2.force-rows,
    .no-cssvwunit .video-description h2.force-rows,
    .video-description .no-cssvwunit h2.force-rows,
    .no-cssvwunit .wide-block h2.force-rows,
    .wide-block .no-cssvwunit h2.force-rows, .no-cssvwunit .cases-end a.force-rows, .cases-end .no-cssvwunit a.force-rows {
      max-width: 420px; }

input[type=text] {
  font-family: inherit;
  font-size: 1.5em;
  font-weight: inherit; }
  @media screen and (min-width: 48em) {
    input[type=text] {
      font-size: 2.25em; } }
  @media screen and (min-width: 48em) {
    input[type=text] {
      font-size: 3em; } }

a,
a:visited,
a:hover {
  color: black; }

.quote {
  padding-left: 0.75em;
  border-left: 3px solid black;
  line-height: 1.45;
  font-size: 1.2em; }
  @media screen and (min-width: 48em) {
    .quote {
      font-size: 2em;
      line-height: 1.3; } }
  @media screen and (min-width: 70.75em) {
    .quote {
      font-size: 2.4em; } }

blockquote {
  padding-left: 0.75em;
  border-left: 3px solid black;
  font-size: 1.2em; }
  @media screen and (min-width: 48em) {
    blockquote {
      font-size: 2em;
      border: 0;
      padding-left: 0; } }
  @media screen and (min-width: 70.75em) {
    blockquote {
      font-size: 2.4em; } }
  blockquote p:before, blockquote p:after {
    font-size: 1.2em;
    line-height: 0;
    font-family: "merriweather";
    vertical-align: -0.19em; }
  @media screen and (min-width: 48em) {
    blockquote p:before {
      content: open-quote; } }
  @media screen and (min-width: 48em) {
    blockquote p:after {
      content: no-close-quote; } }
  blockquote p {
    font-size: 100%;
    line-height: 1.45;
    display: inline; }
    @media screen and (min-width: 48em) {
      blockquote p {
        line-height: 1.3; } }
    @media screen and (min-width: 70.75em) {
      blockquote p {
        line-height: 1.2; } }
    @media screen and (min-width: 1900px) {
      blockquote p {
        font-size: 85%; } }

strong {
  font-weight: bold; }

.underline, .page-aside ul a, .content-output a {
  border-bottom: 2px solid black;
  padding-bottom: 0.05em; }
  .underline:hover, .page-aside ul a:hover, .content-output a:hover, .underline:active, .page-aside ul a:active, .content-output a:active {
    border-width: 3px; }

.single-note h1 {
  font-size: 2.25em; }
  @media screen and (min-width: 30.75em) {
    .single-note h1 {
      font-size: 2.5em; } }
  @media screen and (min-width: 48em) {
    .single-note h1 {
      font-size: 3.25em; } }
  @media screen and (min-width: 70.75em) {
    .single-note h1 {
      font-size: 3.75em; } }

.single-case h3,
.single-career h3,
.single-event h3,
.video-description h3,
.wide-block h3 {
  font-size: 1.25em; }
  @media screen and (min-width: 48em) {
    .single-case h3,
    .single-career h3,
    .single-event h3,
    .video-description h3,
    .wide-block h3 {
      font-size: 1.5em; } }
  @media screen and (min-width: 1600px) {
    .single-case h3,
    .single-career h3,
    .single-event h3,
    .video-description h3,
    .wide-block h3 {
      font-size: 1.875em; } }
.single-case p,
.single-career p,
.single-event p,
.video-description p,
.wide-block p {
  line-height: 1.8; }

@media screen and (min-width: 48em) {
  .single-case h2,
  .single-event h2,
  .newsletter h2 {
    font-size: 2.7em; } }
@media screen and (min-width: 70.75em) {
  .single-case h2,
  .single-event h2,
  .newsletter h2 {
    font-size: 4.5vw; } }
@media screen and (min-width: 70.75em) {
  .no-cssvwunit .single-case h2, .no-cssvwunit
  .single-event h2, .no-cssvwunit
  .newsletter h2 {
    font-size: 4em; } }
@media screen and (min-width: 1245px) {
  .no-cssvwunit .single-case h2, .no-cssvwunit
  .single-event h2, .no-cssvwunit
  .newsletter h2 {
    font-size: 4.625em; } }
.single-case h3,
.single-event h3,
.newsletter h3 {
  font-family: "merriweather";
  font-weight: 300; }

.cases-end a {
  font-family: "montserrat";
  font-weight: 700; }

@media screen and (min-width: 48em) {
  .main-block, .wide-block, .wide-block {
    font-size: 100%; } }
@media screen and (min-width: 48em) {
  .main-block, .wide-block, .wide-block {
    font-size: 115%; } }
@media screen and (min-width: 1600px) {
  .main-block, .wide-block, .wide-block {
    font-size: 130%; } }

.teaser-title {
  font-size: 1.875em;
  font-family: "montserrat";
  font-weight: 700; }
  @media screen and (min-width: 48em) {
    .teaser-title {
      font-size: 2.25em; } }
  @media screen and (min-width: 70.75em) {
    .teaser-title {
      font-size: 3em; } }

@media screen and (min-width: 70.75em) {
  .page-aside {
    font-size: 100%; } }
@media screen and (min-width: 1900px) {
  .page-aside {
    font-size: 150%;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease; } }
.page-aside h3 {
  text-transform: uppercase;
  font-size: 1.375em; }
.page-aside ul a {
  font-size: 1.125em; }
.page-aside li {
  line-height: 1.7; }

/* Icons be here. Use .svg files as default and .no-svg &{} for .png fallbacks */
.icon:after {
  content: "";
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.icon-twitter:after {
  background-image: url("../image/icon/icons-white/twitter.svg");
  background-size: 100%; }
  .no-svg .icon-twitter:after {
    background-image: url("../image/icon/icons-white/twitter.png"); }

.icon-facebook:after {
  background-image: url("../image/icon/icons-white/facebook.svg");
  background-size: 100%; }
  .no-svg .icon-facebook:after {
    background-image: url("../image/icon/icons-white/facebook.png"); }

.icon-github:after {
  background-image: url("../image/icon/icons-white/github.svg");
  background-size: 100%; }
  .no-svg .icon-github:after {
    background-image: url("../image/icon/icons-white/github.png"); }

.icon-youtube:after {
  background-image: url("../image/icon/icons-white/youtube.svg");
  background-size: 100%; }
  .no-svg .icon-youtube:after {
    background-image: url("../image/icon/icons-white/youtube.png"); }

.icon-instagram:after {
  background-image: url("../image/icon/icons-white/instagram.svg");
  background-size: 100%; }
  .no-svg .icon-instagram:after {
    background-image: url("../image/icon/icons-white/instagram.png"); }

.icon-frantic:after {
  width: 112px;
  height: 28px;
  background-position: 0 50%;
  background-size: 100%;
  background-image: url("../image/icon/frantic.svg"); }
  @media screen and (min-width: 48em) {
    .icon-frantic:after {
      background-size: 100%;
      width: 140px;
      height: 50px; } }
  .no-svg .icon-frantic:after {
    background-image: url("../image/icon/frantic.png"); }

.icon-comment:after {
  background-image: url("../image/icon/comment.svg");
  background-size: 100%; }
  .no-svg .icon-comment:after {
    background-image: url("../image/icon/comment.png"); }

.icon-menu {
  display: block;
  height: 5px;
  width: 26px;
  background: black;
  position: absolute;
  top: 29px;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-animation-name: mid-bar-return;
          animation-name: mid-bar-return;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-play-state: running;
          animation-play-state: running; }
  @media screen and (min-width: 30.75em) {
    .icon-menu {
      top: 34px; } }
  @media screen and (min-width: 48em) {
    .icon-menu {
      top: 39px; } }
  .icon-menu.paused {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-animation-name: empty;
            animation-name: empty; }
    .icon-menu.paused:before, .icon-menu.paused:after {
      -webkit-animation-play-state: paused;
              animation-play-state: paused;
      -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-animation-name: empty;
              animation-name: empty; }
    .icon-menu.paused:before {
      top: -9px; }
    .icon-menu.paused:after {
      top: 9px; }
  .no-cssanimations .icon-menu {
    height: auto;
    position: relative;
    background: transparent;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-block;
    vertical-align: middle; }
  .icon-menu:before, .icon-menu:after {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    background-color: black;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s; }
  .icon-menu:before {
    top: -9px;
    -webkit-animation-name: top-bar-return;
            animation-name: top-bar-return; }
    .no-cssanimations .icon-menu:before {
      content: none; }
  .icon-menu:after {
    top: 9px;
    -webkit-animation-name: bottom-bar-return;
            animation-name: bottom-bar-return; }
    .no-cssanimations .icon-menu:after {
      height: 20px;
      width: 20px;
      background-image: url("../image/icon/menu-open.svg");
      background-color: transparent;
      background-position: 50%;
      background-size: 100%;
      top: 0;
      position: relative; }
      @media screen and (min-width: 48em) {
        .no-cssanimations .icon-menu:after {
          height: 26px;
          width: 26px; } }
    .no-cssanimations .menu-open .icon-menu:after {
      background-image: url("../image/icon/menu-close.svg"); }
    .no-cssanimations.no-svg .menu-open .icon-menu:after {
      background-image: url("../image/icon/menu-close.png"); }
    .no-cssanimations.no-svg .icon-menu:after {
      background-image: url("../image/icon/menu-open.png"); }
  .menu-open .icon-menu {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-animation-name: mid-bar;
            animation-name: mid-bar; }
  .menu-open .icon-menu:before {
    -webkit-animation-name: top-bar;
            animation-name: top-bar;
    top: 0;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
  .menu-open .icon-menu:after {
    -webkit-animation-name: bottom-bar;
            animation-name: bottom-bar;
    top: 0;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg); }
  .no-cssanimations .menu-open .icon-menu, .no-cssanimations .menu-open .icon-menu:after, .no-cssanimations .menu-open .icon-menu:before {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }

@-webkit-keyframes top-bar {
  0% {
    top: -9px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  50% {
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  100% {
    top: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); } }

@keyframes top-bar {
  0% {
    top: -9px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  50% {
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  100% {
    top: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); } }

@-webkit-keyframes mid-bar {
  0%,
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); } }

@keyframes mid-bar {
  0%,
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); } }

@-webkit-keyframes bottom-bar {
  0% {
    top: 9px; }

  50% {
    top: 0; }

  100% {
    top: 0; } }

@keyframes bottom-bar {
  0% {
    top: 9px; }

  50% {
    top: 0; }

  100% {
    top: 0; } }

@-webkit-keyframes top-bar-return {
  0% {
    top: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }

  50% {
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  100% {
    top: -9px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@keyframes top-bar-return {
  0% {
    top: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }

  50% {
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  100% {
    top: -9px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@-webkit-keyframes mid-bar-return {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }

  50%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@keyframes mid-bar-return {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }

  50%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@-webkit-keyframes bottom-bar-return {
  0%,
  50% {
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  100% {
    top: 9px; } }

@keyframes bottom-bar-return {
  0%,
  50% {
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  100% {
    top: 9px; } }

.icon-arrow-down:after {
  width: 23px;
  height: 14px;
  background-image: url("../image/icon/arrow-down.svg"); }
  .no-svg .icon-arrow-down:after {
    background-image: url("../image/icon/arrow-down.png"); }

.icon-arrow-down--black:after {
  width: 30px;
  height: 30px;
  background-image: url("../image/icon/arrow-down_black.svg");
  background-size: 100%;
  opacity: 0.66; }
  .no-svg .icon-arrow-down--black:after {
    background-image: url("../image/icon/arrow-down_black.png"); }
  .icon-arrow-down--black:after:hover, .icon-arrow-down--black:after:active {
    opacity: 1; }
  @media screen and (min-width: 48em) {
    .icon-arrow-down--black:after {
      width: 40px; } }

.icon-close:after {
  height: 32px;
  width: 32px;
  background-image: url("../image/icon/menu-close.svg"); }
  .no-svg .icon-close:after {
    background-image: url("../image/icon/menu-close.png"); }

.icon-play:after {
  height: 41px;
  width: 38px;
  background-image: url("../image/icon/play.svg"); }
  .no-svg .icon-play:after {
    background-image: url("../image/icon/play.png"); }

/*
.icon-:after{
	background-image: url("../image/icon/.svg");
	.no-svg &{
		background-image: url("../image/icon/.png");
	}
}
*/
body {
  overflow-x: hidden; }

#main_container {
  padding-top: 60px; }
  @media screen and (min-width: 30.75em) {
    #main_container {
      padding-top: 70px; } }

.page-padding, .single, .viewport, .cases-end {
  padding: 0 24px; }
  @media screen and (min-width: 30.75em) {
    .page-padding, .single, .viewport, .cases-end {
      padding: 0 64px; } }
  @media screen and (min-width: 48em) {
    .page-padding, .single, .viewport, .cases-end {
      padding: 0 10%; } }
  @media screen and (min-width: 70.75em) {
    .page-padding, .single, .viewport, .cases-end {
      padding: 0 157px; } }

.notes-wrapper {
  margin: 0 auto;
  text-align: left; }
  @media screen and (min-width: 48em) {
    .notes-wrapper {
      margin: 0;
      max-width: 1300px; } }
  @media screen and (min-width: 1600px) {
    .notes-wrapper {
      max-width: 1500px;
      padding-right: 0; } }
  @media screen and (min-width: 1900px) {
    .notes-wrapper {
      max-width: 1800px; } }

.single {
  max-width: 1207px;
  padding-bottom: 1.875em;
  -webkit-transition: margin-left 0.5s ease;
  transition: margin-left 0.5s ease; }
  @media screen and (min-width: 48em) {
    .single {
      padding-bottom: 3.125em; } }

.viewport {
  padding-bottom: 1.875em;
  padding-top: 1.5em;
  width: 100%;
  position: relative; }
  .ready .viewport {
    -webkit-transition: height 0.25s ease-in-out, margin-left 0.5s ease;
    transition: height 0.25s ease-in-out, margin-left 0.5s ease; }
  @media screen and (min-width: 48em) {
    .viewport {
      padding-bottom: 3.125em; } }
  .viewport.fill--right {
    padding-right: 24px; }
    @media screen and (min-width: 30.75em) {
      .viewport.fill--right {
        padding-right: 64px; } }
    @media screen and (min-width: 48em) {
      .viewport.fill--right {
        padding-right: 0; } }
  @media screen and (max-width: 47.9375em) {
    .notes-wrapper .viewport {
      height: 100% !important;
      min-height: 100% !important;
      padding-bottom: 0; } }
  .mobile .notes-wrapper .viewport {
    height: 100% !important;
    min-height: 100% !important;
    padding-bottom: 0; }
  .mobile .viewport.people-wrapper {
    padding: 0 0.75em; }
  .mobile .viewport:first-of-type {
    margin-bottom: 2em; }

.cases-end {
  border-top: 2px solid black;
  margin: 5% auto 25%;
  padding-top: 20%;
  text-align: center; }
  .ready .cases-end {
    -webkit-transition: height 0.25s ease-in-out, all 0.5s ease;
    transition: height 0.25s ease-in-out, all 0.5s ease; }
  .cases-end a {
    display: inline-block; }

.flex-wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: space-around;
      -ms-flex-line-pack: distribute;
          align-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }
  @media screen and (min-width: 48em) {
    .flex-wrap {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; } }
  .flex-wrap.multi-row {
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
  .no-flexbox .flex-wrap {
    display: table; }
    .no-flexbox .flex-wrap > div, .no-flexbox .flex-wrap > aside {
      display: block; }
      @media screen and (min-width: 48em) {
        .no-flexbox .flex-wrap > div, .no-flexbox .flex-wrap > aside {
          display: table-cell; } }
    .no-flexbox .flex-wrap > .main-block, .no-flexbox .flex-wrap > .wide-block, .no-flexbox .flex-wrap > .page-aside {
      display: table-row; }
      @media screen and (min-width: 48em) {
        .no-flexbox .flex-wrap > .main-block, .no-flexbox .flex-wrap > .wide-block, .no-flexbox .flex-wrap > .page-aside {
          display: table-cell; } }
      .no-flexbox .flex-wrap > .main-block h1, .no-flexbox .flex-wrap > .wide-block h1, .no-flexbox .flex-wrap > .page-aside h1 {
        display: table-cell;
        vertical-align: bottom; }
    @media screen and (min-width: 48em) {
      .no-flexbox .flex-wrap .note-teaser {
        display: block;
        margin: 0;
        width: 45%;
        float: left; }
        .no-flexbox .flex-wrap .note-teaser:nth-of-type(2n) {
          margin-left: 5%; } }
  .tablet.portrait.no-flexbox .flex-wrap .note-teaser {
    min-height: 340px; }
  .tablet.landscape.no-flexbox .flex-wrap .note-teaser {
    min-height: 250px; }

.main-block, .wide-block, .page-aside {
  vertical-align: middle; }
  @media screen and (min-width: 48em) {
    .main-block, .wide-block, .page-aside {
      margin: auto; } }

.main-block, .wide-block {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 1em; }
  .desktop .main-block, .desktop .wide-block {
    margin-top: 1em; }
  .mobile .viewport:first-of-type .main-block, .mobile .viewport:first-of-type .wide-block {
    margin: 25px auto 50px; }
  @media screen and (min-width: 48em) {
    .main-block, .wide-block {
      margin-bottom: auto;
      margin-left: 0;
      display: inline-block;
      width: 45%; }
      .desktop .main-block, .desktop .wide-block {
        margin-top: auto; } }
  .tablet .main-block, .tablet .wide-block, .simulate-tablet .main-block, .simulate-tablet .wide-block {
    min-width: 45%;
    padding-right: 25px; }

.page-aside {
  text-align: left;
  width: 100%; }
  .desktop .page-aside {
    margin-top: 2em; }
  @media screen and (min-width: 48em) {
    .page-aside {
      width: 50%;
      display: inline-block;
      vertical-align: middle;
      text-align: center; }
      .desktop .page-aside {
        margin-top: auto; } }
  .tablet .page-aside, .simulate-tablet .page-aside {
    margin: auto 0; }
  .page-aside ul {
    margin-top: 0.5em;
    list-style: none; }
    @media screen and (min-width: 48em) {
      .page-aside ul {
        margin-top: 1em; } }
  .page-aside li {
    margin-top: 0.5em; }
    @media screen and (min-width: 48em) {
      .page-aside li {
        margin-top: 1em; } }

.wide-block {
  margin: auto; }
  @media screen and (min-width: 48em) {
    .wide-block {
      width: 100%; } }

.content-output {
  width: 100%; }
  @media screen and (min-width: 48em) {
    .content-output {
      width: 90%; } }
  @media screen and (min-width: 70.75em) {
    .content-output {
      width: 85%; } }
  @media screen and (min-width: 1600px) {
    .content-output {
      width: 95%; } }

.navigation {
  text-align: center;
  -webkit-transition: margin-left 0.5s ease;
  transition: margin-left 0.5s ease; }
  @media screen and (min-width: 70.75em) {
    .navigation {
      text-align: left; } }

.nav-header {
  height: 60px;
  line-height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: white;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease; }
  @media screen and (min-width: 30.75em) {
    .nav-header {
      height: 70px;
      line-height: 70px;
      left: auto;
      border-bottom: 0;
      z-index: 3; } }
  @media screen and (min-width: 48em) {
    .nav-header {
      height: 80px;
      line-height: 80px; } }
  .nav-header.box-shadow {
    box-shadow: 0 8px 17px 1px rgba(0, 0, 0, 0.025); }

.nav-header__menu-button {
  cursor: pointer;
  float: left;
  padding-left: 24px;
  -webkit-transition: padding-left 0.5s ease;
  transition: padding-left 0.5s ease; }
  .nav-header__menu-button img {
    height: 32px; }
  @media screen and (min-width: 30.75em) {
    .nav-header__menu-button {
      padding-left: 64px; }
      .nav-header__menu-button img {
        height: 28px; } }
  @media screen and (min-width: 48em) {
    .nav-header__menu-button {
      padding-left: 10%; } }
  @media screen and (min-width: 70.75em) {
    .nav-header__menu-button {
      padding-left: 4em; } }

.icon-menu-wrapper {
  position: relative;
  width: 26px;
  height: 60px; }
  @media screen and (min-width: 30.75em) {
    .icon-menu-wrapper {
      height: 70px; } }
  @media screen and (min-width: 48em) {
    .icon-menu-wrapper {
      height: 80px; } }

.nav-header__breadcrumb {
  display: none;
  cursor: pointer; }
  .nav-header__breadcrumb a, .nav-header__breadcrumb p {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    color: black;
    margin-top: 2px;
    font-size: 1.125em;
    font-weight: 300; }
  @media screen and (min-width: 48em) {
    .nav-header__breadcrumb {
      display: block;
      float: left;
      margin-left: 4.1em;
      font-size: 100%; } }

.nav-header__logo {
  padding-right: 1.5em;
  float: right; }
  .nav-header__logo img {
    height: 28px;
    width: 134px; }
  @media screen and (min-width: 30.75em) {
    .nav-header__logo {
      padding-right: 3em; }
      .nav-header__logo img {
        height: 35px;
        width: 168px; } }

.nav-sidebar {
  background: black;
  bottom: 0;
  color: white;
  font-size: 87.5%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .no-csstransforms .nav-sidebar {
    left: -100%; }
  @media screen and (min-width: 30.75em) {
    .nav-sidebar {
      width: 220px;
      -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
              transform: translateX(-100%); }
      .no-csstransforms .nav-sidebar {
        left: -220px; } }
  @media screen and (min-width: 70.75em) {
    .nav-sidebar {
      background-color: transparent;
      bottom: auto;
      left: 220px;
      left: 155px;
      color: black;
      opacity: 0;
      display: none;
      z-index: 3; } }
  .nav-sidebar a {
    color: white; }
    @media screen and (min-width: 70.75em) {
      .nav-sidebar a {
        color: black; } }
  .nav-sidebar p {
    line-height: 1.375em; }

.nav-sidebar__wrapper {
  width: inherit;
  overflow-x: hidden; }

.nav-sidebar__links {
  list-style: none;
  margin-top: 85px;
  min-width: 220px; }
  .nav-sidebar__links a {
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
            text-size-adjust: 100%;
    font-size: 1.25em;
    font-weight: 300;
    font-family: "merriweather";
    letter-spacing: 0.93px;
    line-height: 2; }
  .nav-sidebar__links li {
    margin-bottom: 0.25em; }
    @media screen and (min-width: 70.75em) {
      .nav-sidebar__links li {
        display: inline-block;
        margin-left: 25px; }
        .nav-sidebar__links li:first-child {
          margin-left: 0; } }
  @media screen and (min-width: 30.75em) {
    .nav-sidebar__links {
      margin-top: 25px; }
      .nav-sidebar__links li {
        margin-bottom: 0.5em; }
      .nav-sidebar__links a {
        line-height: 1.6; } }
  @media screen and (min-width: 48em) {
    .nav-sidebar__links {
      margin-top: 29px;
      font-size: 1.125em; } }
  @media screen and (min-width: 70.75em) {
    .nav-sidebar__links {
      margin-top: 26px; } }

.viewport-nav {
  display: inline-block;
  position: fixed;
  bottom: 80px;
  left: 50%;
  right: 50%;
  cursor: pointer;
  opacity: 0.7;
  z-index: 2; }
  .viewport-nav:hover, .viewport-nav:active {
    opacity: 1; }

.menu-open {
  overflow: hidden;
  position: fixed; }
  @media screen and (min-width: 30.75em) {
    .menu-open {
      position: initial;
      overflow: auto; } }
  .menu-open .navigation {
    margin-left: 0; }
    @media screen and (min-width: 30.75em) {
      .menu-open .navigation {
        margin-left: 220px; } }
    @media screen and (min-width: 70.75em) {
      .menu-open .navigation {
        margin-left: 0; } }
    .menu-open .navigation .nav-header {
      width: 100%; }
      @media screen and (min-width: 30.75em) {
        .menu-open .navigation .nav-header {
          width: calc(100% - 220px); } }
      @media screen and (min-width: 70.75em) {
        .menu-open .navigation .nav-header {
          width: 100%; } }
    @media screen and (min-width: 30.75em) {
      .menu-open .navigation .nav-header__menu-button {
        padding-left: 4em; } }
    @media screen and (min-width: 48em) {
      .menu-open .navigation .nav-header__menu-button {
        padding-left: 13.2%; } }
    @media screen and (min-width: 70.75em) {
      .menu-open .navigation .nav-header__menu-button {
        padding-left: 4em; } }
    .menu-open .navigation .nav-sidebar {
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0); }
      .no-csstransforms .menu-open .navigation .nav-sidebar {
        left: 0; }
      @media screen and (min-width: 70.75em) {
        .menu-open .navigation .nav-sidebar {
          -webkit-transition: all 0.25s linear;
                  transition: all 0.25s linear;
          display: inline-block;
          width: 100%;
          opacity: 1; } }
  .menu-open .viewport, .menu-open .single, .menu-open .cases-end {
    margin-left: 100%; }
    @media screen and (min-width: 30.75em) {
      .menu-open .viewport, .menu-open .single, .menu-open .cases-end {
        margin-left: 220px; } }
    @media screen and (min-width: 70.75em) {
      .menu-open .viewport, .menu-open .single, .menu-open .cases-end {
        margin-left: 0; } }
  .menu-open .single {
    z-index: 0; }

.newsletter__subheading {
  font-size: 1.125em;
  font-size: 1.1em;
  line-height: 30px;
  margin-top: 0.7em;
  width: 80%; }
  @media screen and (min-width: 30.75em) {
    .newsletter__subheading {
      line-height: 2; } }

.newsletter .email-wrap {
  width: 100%;
  position: relative;
  margin-top: 1.3em;
  margin-bottom: 0.5em; }

.newsletter__email {
  border: 0;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  padding-right: 35px;
  width: 100%;
  border-radius: 0; }
  .newsletter__email:focus {
    outline: 0; }
  @media screen and (min-width: 48em) {
    .newsletter__email {
      padding-right: 55px; } }

.newsletter__submit {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 1px solid black;
  background-size: 37%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: url("../image/icon/arrow-r.svg");
  position: absolute;
  right: 0;
  bottom: 8px;
  height: 30px;
  width: 30px;
  opacity: 0.65;
  cursor: pointer; }
  @media screen and (min-width: 48em) {
    .newsletter__submit {
      height: 50px;
      width: 50px;
      bottom: 10px; } }
  .newsletter__submit.inactive {
    opacity: 0.1;
    cursor: default; }
    .newsletter__submit.inactive:hover, .newsletter__submit.inactive:active {
      opacity: 0.1; }
  .newsletter__submit:hover, .newsletter__submit:active {
    opacity: 1; }
  .no-svg .newsletter__submit {
    background-image: url("../image/icon/arrow-r.png"); }

.person {
  margin-bottom: 2em;
  width: 100%; }
  @media screen and (min-width: 48em) {
    .person {
      width: 50%;
      margin-bottom: 4.5em;
      float: left; }
      .person:nth-child(odd) {
        clear: left; } }
  @media screen and (min-width: 1600px) {
    .person {
      width: 33%;
      float: none;
      display: inline-block;
      vertical-align: top; }
      .person:nth-child(odd) {
        clear: none; } }

.person__details, .person__photo {
  display: inline-block;
  vertical-align: middle; }

.person__photo {
  max-width: 116px;
  width: 20%;
  border-radius: 58px;
  border-radius: 50%; }
  @media screen and (min-width: 30.75em) {
    .person__photo {
      width: 95px; } }
  @media screen and (min-width: 48em) {
    .person__photo {
      width: 20%; } }
  @media screen and (min-width: 70.75em) {
    .person__photo {
      width: 25%; } }

.person__details {
  margin-left: 0.5em; }
  .mobile .person__details {
    margin-left: 0.25em; }
  @media screen and (min-width: 30.75em) {
    .person__details {
      margin-left: 0.2em; } }
  @media screen and (min-width: 48em) {
    .person__details {
      margin-left: 0; } }
  @media screen and (min-width: 70.75em) {
    .person__details {
      margin-left: 1.3em; } }

.person__name {
  font-size: 100%;
  text-transform: uppercase; }
  @media screen and (min-width: 30.75em) {
    .person__name {
      font-size: 1.0625em;
      margin-bottom: 0.7em; } }
  @media screen and (min-width: 48em) {
    .person__name {
      font-size: 0.9375em;
      margin-bottom: 0.7em;
      font-weight: 400; } }

.person__phone {
  margin: 0.4em 0 0.4em; }

.person__phone, .person__email {
  display: block;
  font-size: 0.75em; }
  @media screen and (min-width: 30.75em) {
    .person__phone, .person__email {
      font-size: 0.8125em; } }
  @media screen and (min-width: 70.75em) {
    .person__phone, .person__email {
      font-size: 100%; } }

@media screen and (min-width: 48em) {
  .person__email {
    font-size: 0.78em; } }
@media screen and (min-width: 70.75em) {
  .person__email {
    font-size: 100%; } }

.note-teaser {
  width: 100%;
  padding-bottom: 3em; }
  @media screen and (min-width: 48em) {
    .note-teaser {
      width: 45%;
      display: inline-block;
      vertical-align: top;
      margin: 0 9% 100px 0; }
      .note-teaser:nth-child(even) {
        margin-right: 0; } }
  @media screen and (min-width: 70.75em) {
    .note-teaser {
      width: 44%;
      margin-right: 11%;
      margin-bottom: 125px; }
      .note-teaser:nth-child(even) {
        margin-right: 0; } }
  @media screen and (min-width: 1600px) {
    .note-teaser {
      width: 27%;
      margin-right: 9%;
      margin-bottom: 150px; }
      .note-teaser:nth-child(even) {
        margin-right: 9%; }
      .note-teaser:nth-child(3n) {
        margin-right: 0; } }

.btn-load-notes {
  text-align: center;
  border-bottom: 2px solid black;
  margin: 0 auto 2em;
  width: 150px;
  cursor: pointer; }
  @media screen and (min-width: 48em) {
    .desktop .btn-load-notes {
      display: none; } }

.teaser-meta {
  margin-bottom: 0.25em;
  line-height: 1; }

.article-image {
  width: 100%;
  max-width: 100%;
  height: auto; }

.single-note {
  width: 100%;
  position: relative;
  margin-top: 1.5625em;
  margin-bottom: 3.4375em;
  border-bottom: 1px solid #cfcfcf; }
  .single-note h1 {
    margin-bottom: 0.275em; }
    @media screen and (min-width: 48em) {
      .single-note h1 {
        margin-bottom: 0.2em; } }
  .single-note h2, .single-note h3 {
    margin-top: 2.125em;
    margin-bottom: 0.875em; }
  .single-note .content-output h2:first-child, .single-note .content-output h3:first-child {
    margin-top: 0; }
  .single-note p {
    max-width: 100%;
    margin-bottom: 1.25em; }
    .single-note p a {
      font-size: 100%; }
  .single-note blockquote {
    width: 100%;
    margin: 1.25em 0; }
    @media screen and (min-width: 48em) {
      .single-note blockquote {
        margin: 0 0 0.5em 0.75em;
        width: 33%;
        float: right;
        clear: both; } }
    @media screen and (min-width: 48em) {
      .single-note blockquote {
        width: 40%; } }
    @media screen and (min-width: 48em) {
      .single-note blockquote:nth-of-type(2n) {
        margin: 0 0.75em 0.5em 0;
        float: left; } }
    .single-note blockquote p {
      max-width: 100%;
      margin: 0; }
  .single-note .date-and-author {
    margin-bottom: 2em; }
    @media screen and (min-width: 1600px) {
      .single-note .date-and-author {
        font-size: 125%; } }
    .single-note .date-and-author .icon-twitter:after {
      margin-left: 0.5em;
      width: 14px;
      height: 14px; }

.suggested-notes h3 {
  text-transform: uppercase;
  margin-bottom: 2.8125em; }

.suggested-note {
  width: 100%;
  margin-bottom: 3em; }
  @media screen and (min-width: 48em) {
    .suggested-note {
      width: 50%;
      float: left; }
      .suggested-note * {
        max-width: 90%;
        display: block; } }

.note-footer {
  width: 100%;
  margin: 25px 0; }
  @media screen and (min-width: 48em) {
    .note-footer {
      width: 110%; } }
  @media screen and (min-width: 70.75em) {
    .note-footer {
      width: 100%; } }

.note-footer-item {
  display: block;
  width: 100%;
  margin-bottom: 1em; }
  @media screen and (min-width: 48em) {
    .note-footer-item {
      display: inline-block;
      width: auto;
      margin-bottom: 0;
      margin-right: 2%; }
      .note-footer-item:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 53.125em) {
    .note-footer-item {
      margin-right: 6.5%; }
      .note-footer-item:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 70.75em) {
    .note-footer-item {
      width: 33%;
      margin-right: 0; } }
  .note-footer-item p, .note-footer-item a {
    margin: 0;
    line-height: 30px;
    cursor: pointer;
    font-size: 1em; }
    @media screen and (min-width: 48em) {
      .note-footer-item p, .note-footer-item a {
        line-height: 60px; } }
  .note-footer-item .icon:after {
    height: 25px;
    width: 25px;
    margin-right: 1em; }
  .note-footer-item .icon-facebook:after {
    margin-top: -3px; }

.single-case h3, .single-career h3, .single-event h3 {
  margin: 0.25em 0 1em; }
.single-case p, .single-career p, .single-event p {
  margin-bottom: 1em;
  max-width: 800px; }
  @media screen and (min-width: 1600px) {
    .single-case p, .single-career p, .single-event p {
      max-width: 900px; } }
  .single-case p:last-child, .single-career p:last-child, .single-event p:last-child {
    margin-top: 1.25em; }
    @media screen and (min-width: 48em) {
      .single-case p:last-child, .single-career p:last-child, .single-event p:last-child {
        margin-top: 1.5em; } }
.single-case a, .single-career a, .single-event a {
  font-size: 24px;
  padding-bottom: 0.05em;
  border-bottom: 2px solid black; }

.single-career h2 {
  margin: 0 0 0.5em; }

.single-case {
  margin-bottom: 1.5625em;
  overflow: hidden; }
  .single-case .main-block, .single-case .wide-block {
    display: inline-block;
    vertical-align: top;
    width: 100%; }
  .no-flexbox .single-case .flex-wrap {
    width: 90%; }
  @media screen and (min-width: 48em) {
    .single-case {
      margin-bottom: 0; }
      .single-case .main-block, .single-case .wide-block {
        width: 45%; } }

.case-wrap {
  margin: auto;
  width: 100%;
  position: relative; }
  @media screen and (min-width: 48em) {
    .case-wrap {
      min-height: 480px; } }
  @media screen and (min-width: 70.75em) {
    .case-wrap {
      min-height: none; } }

@media screen and (min-width: 48em) {
  .case-block {
    position: static; } }
@media screen and (min-width: 70.75em) {
  .case-block {
    min-height: 500px; } }

.case-image {
  position: relative;
  display: block;
  max-width: 80%;
  max-height: 400px;
  height: auto;
  margin: 0 auto 1em;
  	/*
  
  	@include respond(tablet){
  		max-width: 100%; width: auto; max-height: 480px; height: 100%;
  		position: absolute;
  		right: 25px;
  		top: 0px;
  		margin: 0;
  
  	}
  	@include respond(desktop){
  		max-width: 950px; width: 64.6%; max-height: none; height: auto;
  		right: -150px;
  	}
  	@include respond(hd){
  		max-width: 1050px;
  		right: -140px;
  	}
  	@media screen and(min-width: 2200px){
  		max-width: 1150px;
  		right: 48px;
  	}
  	*/ }
  @media screen and (min-width: 48em) {
    .no-flexbox .case-image {
      height: auto;
      right: -25px; } }
  @media screen and (min-width: 48em) {
    .case-image {
      display: none !important; } }

.image-container {
  height: 250px;
  text-align: center; }
  @media screen and (min-width: 48em) {
    .image-container {
      height: auto; } }
  .image-container img {
    top: 0;
    z-index: 1; }

.p-container {
  background-color: white;
  box-shadow: 0px -25px 25px -28px rgba(0, 0, 0, 0.275);
  -webkit-box-shadow: 0px -25px 25px -28px rgba(0, 0, 0, 0.275);
  min-height: 150px;
  padding-top: 1em;
  position: relative;
  z-index: 2;
  -webkit-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease; }
  @media screen and (min-width: 48em) {
    .p-container {
      box-shadow: none;
      -webkit-box-shadow: none;
      background-color: transparent;
      -webkit-transition: box-shadow 0s ease;
      transition: box-shadow 0s ease; } }

.fixed-case-image {
  display: none; }
  .fixed-case-image.freeze {
    position: absolute; }
  @media screen and (min-width: 48em) {
    .no-flexbox .fixed-case-image {
      height: auto;
      right: -25px; } }
  @media screen and (min-width: 48em) {
    .fixed-case-image {
      max-width: 100%;
      width: auto;
      max-height: 480px;
      height: 100%;
      position: fixed;
      right: 25px;
      top: 27%;
      margin: 0;
      display: block;
      z-index: -1; }
      .fixed-case-image .placeholder-image {
        z-index: 2; }
      .fixed-case-image .placeholder-content-image {
        z-index: 3;
        display: block;
        position: absolute;
        left: 10.6%;
        top: 11%;
        width: 78.5%;
        height: auto; } }
  @media screen and (min-width: 70.75em) {
    .fixed-case-image {
      max-width: 950px;
      width: 64.6%;
      max-height: none;
      height: auto;
      right: -150px; }
      .fixed-case-image .placeholder-content-image {
        z-index: 3;
        display: block;
        position: absolute;
        left: 13.3%;
        top: 8.4%;
        width: 73.6%;
        height: auto; } }
  @media screen and (min-width: 1900px) {
    .fixed-case-image {
      max-width: 1050px;
      right: -140px; } }
  @media screen and (min-width: 2200px) {
    .fixed-case-image {
      max-width: 1150px;
      right: 48px; } }

.contact-info {
  list-style: none;
  font-size: 1em;
  margin-top: 5em; }
  @media screen and (min-width: 30.75em) {
    .contact-info {
      font-size: 0.875em; } }
  @media screen and (min-width: 48em) {
    .contact-info {
      font-size: 1em; } }
  @media screen and (min-width: 70.75em) {
    .contact-info {
      min-width: 510px;
      font-size: 1.25em; } }
  .contact-info li {
    margin-bottom: 1.5em; }
    .contact-info li strong, .contact-info li span {
      display: block; }
    @media screen and (min-width: 30.75em) {
      .contact-info li strong,
      .contact-info li span {
        display: inline-block; } }
    @media screen and (min-width: 48em) {
      .contact-info li strong {
        display: block;
        margin-bottom: 0.2em; } }
    @media screen and (min-width: 70.75em) {
      .contact-info li strong {
        display: inline-block;
        margin-bottom: 0; } }
    .contact-info li:last-child {
      padding-bottom: 1px; }
  .contact-info .icon {
    margin-right: 0.5em;
    border-bottom: 0;
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
    background-color: black;
    border-radius: 50%;
    font-size: 85%; }
    .contact-info .icon:last-child {
      margin-right: 0; }
    @media screen and (min-width: 48em) {
      .contact-info .icon {
        margin-right: 1em; } }
  .contact-info .icon:after {
    width: 50px;
    height: 50px;
    background-position: 50%;
    background-size: auto; }
  .contact-info .icon-youtube:after {
    background-size: 45%;
    background-position: 59% 50%; }
  .contact-info .anchor-link {
    display: inline; }
  .contact-info .address {
    margin-top: 0.5em; }
  .contact-info .contact:not(.contact--last) {
    margin-bottom: 0.5em;
    margin-top: 0.5em; }
  .contact-info .contact--last {
    margin-top: 0.5em; }
  .contact-info .email {
    margin-bottom: 0.5em; }
  .contact-info .email a {
    display: block;
    font-size: 1em;
    border-bottom: 0; }

.video-wrapper-outer {
  position: relative;
  z-index: 0;
  height: 100%; }

.video-wrapper-outer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .video-wrapper-outer iframe.inactive {
    z-index: -1;
    display: none; }

.hide-video {
  display: none; }

.video-close {
  position: absolute;
  right: 50px;
  top: 50px;
  width: 50px;
  height: 50px;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%; }
  .video-close span:after {
    background-position: 50%;
    height: 100%;
    width: 100%; }

.video-wrapper-outer .flex-wrap {
  background-color: transparent; }
  .video-wrapper-outer .flex-wrap.active {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: white; }
  .video-wrapper-outer .flex-wrap.inactive {
    display: none; }

.video-description {
  padding: 75px 25px;
  cursor: pointer;
  text-align: left; }
  .video-description .icon {
    display: inline-block;
    position: relative;
    vertical-align: middle; }
    .video-description .icon:after {
      margin-left: 10px;
      background-size: 100%;
      background-position: 50%;
      height: 60px;
      vertical-align: baseline; }

.video-wrapper-outer .player .video-wrapper {
  background: white; }

@media screen and (min-width: 48em) {
  .content-output {
    font-size: 100%;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease; } }
@media screen and (min-width: 48em) {
  .content-output {
    font-size: 115%; } }
@media screen and (min-width: 1900px) {
  .content-output {
    font-size: 130%; } }
.content-output a {
  line-height: 1;
  display: inline-block; }
.content-output ol, .content-output ul {
  margin-bottom: 1.25em;
  list-style-position: outside; }
.content-output ul {
  margin-left: 20px; }
.content-output ol {
  margin-left: 37px; }
.content-output li {
  line-height: 1.75; }
.content-output .caption {
  font-size: 1.25em;
  font-family: "merriweather";
  letter-spacing: 0.97px;
  line-height: 1.5; }
  @media screen and (min-width: 48em) {
    .content-output .caption {
      line-height: 1.6; } }
  @media screen and (min-width: 70.75em) {
    .content-output .caption {
      font-size: 1.375em; } }
