html, body {
	height: 100%;
	font-family: verdana;
}

body {
	margin: 0;
	background-color: #e6e6e6;
}

h1,h2,h3,h4,h5 {
	font-family: verdana;
}

.container {
	max-width: 1408px;
	background-color: #fff;
	margin: 0 auto;
}

.npwsingle {
	padding-top: 80px;
	min-height: 100%;
}

.npw-input {
	clear: left;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 5px 0px 5px 0px;
	padding: 1em;
	width: 100%;
	height: auto;
	font: 500 0.8em museo-sans, verdana, helvetica;
	color: rgba(51, 51, 51, 0.5);
	color: #000;
	border: 1px solid rgba(51, 51, 51, 0.25);
	outline: none;
}

.npw-submit {
	border: none;
	display: inline-block;
	margin: 2em 0;
	padding: 0.8em 1.25em;
	font-size: 1.20em;
	font-weight: bold;
	background: #f09221;
	color: white;
}
/*
* Navigation
*/

.nav-header {
	background-color: none;
}

.icon-menu {
	color: #fff;
}

.icon-menu:before, .icon-menu:after {
	color: #fff;
}

.nav-sidebar__links a {
	font-family: verdana;
	font-weight: bold;
}

/*
* Frontpage
*/
.menu-extended {
	display: block;
}

@media screen and (min-width: 30.75em){
	.menu-extended {
		display: none;
	}
}

.bg-image-container {
	height: 100%;
	background: url('../image/hki.jpg') no-repeat center center fixed; 
	
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	-webkit-align-items: center;

	align-items: center;
	-ms-flex-align: center;

  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.frontpage-text__wrapper {
	max-width: 900px;
	margin: 0 auto;
}

.frontpage-text {
	font-size: 3em;
	font-weight: 900;
	color: #fff;
	font-family: verdana;
	line-height: 0.85;
	text-transform: uppercase;
	letter-spacing: -5px;
	text-align: center;
}

.ssection {
	margin: 0px 0px 0px 0px;
	padding: 0px 20px 0px 20px;
	width: auto;
	height: auto;
	border-top: 1px solid rgba(51, 51, 51, 0.25);
	overflow: hidden;
	padding: 60px 20px;
}

.fsection {
	margin: 0px 0px 0px 0px;
	width: auto;
	height: auto;
	border-top: 1px solid rgba(51, 51, 51, 0.25);
	overflow: hidden;
	padding: 60px 20px;
}

.fsection p {
	margin: 0px 0px 0px 0px;
	padding: 7px 0px 15px 0px;
	text-align: center;
	font-size: 1em;
}

.frontpage-text__buttons {
	margin-top: 40px;
	text-align: center;
	padding: 0 20px 0 20px;
}

.cursor {
	font-weight: 900;
	color: #fff;
	font-family: verdana;
}

.frontpage-button {
	padding: 15px 20px 15px 20px;
	background-color: #f09221;
	color: #fff !important;
	font-size: 1.2em;
	font-family: verdana;
	font-weight: bold;

	display: block;
	width: 100%;
	margin-top: 10px;
}



.frontpage-button {
	margin-right: 20px;
}

.frontpage-button:last-child {
	margin-right: 0;
}

.section-content-wrapper {
	max-width: 900px;
	margin: 0 auto;
}
.npwsingle section {
	border-top: none;
}

section {
	border-top: 1px solid rgba(51, 51, 51, 0.25);
}

section h2 {
	font-weight: 900;
	font-size: 3.2em;
	text-align: center;
	padding: 0 0 15px 0;
	margin: 20px 0 0 0;
}

section h3 {
	font-weight: 900;
	font-size: 1.2em;
	text-align: center;
	padding: 0 0 15px 0;
	margin: 20px 0 0 0;
}


/*
* Schedule section
*/

.time {
	text-align: left;
	float: left;
	width: 25%;
	font-weight: bold;
}

.indent {
	width: 75%;
	margin-left: 25%;
	text-align: left;
}

.schedule-row {
	margin-top: 15px;
}

.schedule-row:first-child {
	margin-top: 0;
}

/*
* Sponsors section
*/

.frontpage-section__sponsor {
	text-align: center;
}

.sponsor-images {
	margin: 40px 0 40px 0;
}

/*
* Call for Papers
*/

.wrapper--papers p {
	margin-bottom: 10px;
}

.wrapper--papers h3 {
	margin-bottom: 20px;
}

/*
* Register page
*/

.wrapper--register {
	position: relative;
}

.register-info {
	max-width: 100%;
	margin-bottom: 40px;
}

/*
* Wiki page
*/


/*
* Login page
*/
.wrapper--login input[type=password], .wrapper--login input[type=text]{
	margin-bottom: 20px;
}

.wrapper--login__info {
	margin-top: 40px;
}

/*
* User
*/

.wrapper--user__main h3 {
	margin: 20px 0 20px 0;
}


.wrapper--user__change input[type=text] {
	width: 100%;
}

.wrapper--user__change label {
	margin: 20px 0 0 0;
}

.form-row textarea {
	width: 100%;
}

.form-row {
	margin: 0 0 20px 0;
}

.row {
	margin: 0 0 20px 0;
}

.form-row label {
	margin: 0 0 10px 0;
}

.section__main ul {
	list-style: none;
	text-align: center;
}

.section__main li {
	margin-top: 10px;
}

/*
* Search
*/
.wrapper--search {
	max-width: 600px;
}

/*
* General
*/

.form-textinput {
	clear: left;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 5px 0px 5px 0px;
	padding: 1em;
	width: 100%;
	height: auto;
	font: 500 0.8em museo-sans, verdana, helvetica;
	color: rgba(51, 51, 51, 0.5);
	color: #000;
	border: 1px solid rgba(51, 51, 51, 0.25);
	outline: none;
}

input[type=text] {
	font-size: 1em;
}

input[type=textarea] {
	font-size: 1em;
}

input[type=password] {
	font-size: 1em;
}

.submit-btn {
	padding: 10px;
	margin: 20px 0 0 0;
	background-color: transparent;
	border: 1px solid #000;
	opacity: .65;
	cursor: pointer;
	font-size: 1em;
	text-align: center;
}

.upcase {
	text-transform: uppercase;
}

.icon-hkiperl:after {
	background-image: url("../image/icon/hki-perl.png");
	width: 240px;
	height: 240px;
	padding-bottom: 30px;
	background-size: 100%;
}

/*
* Register
*/

.section__register {
	text-align: center;
}

/*

* Wiki
*/

.section__wikiedit {
	text-align: center;
}

/*
* Unregister
*/

.unregister {
	text-align: center;
}

/*
* Talks
*/

.talktable {
	margin: 0 auto;
	border: 1px solid rgba(51, 51, 51, 0.25);
}

/*
* Schedule
*/

.section__schedule {
	text-align: center;
}


@media screen and (min-width: 450px){
	.frontpage-text {
		font-size: 6em;
		letter-spacing: -15px;
	}
}

@media screen and (min-width: 500px){
	.frontpage-button {
		display: inline;
		width: auto;
		margin-top: 0px;
	}

	.frontpage-text__buttons {
		padding: 0;
	}
}

@media screen and (min-width: 48em){
	.fsection a, .csection a {
		font-size: 1em;
		border-bottom: 1px solid #000;
	}
}

@media screen and (min-width: 1000px){
	.frontpage-text {
		font-size: 7em;
	}
}
